/** -------------------------------------------------------------------- */
/* Fonts */
/* --------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/** -------------------------------------------------------------------- */
/* Global Style */
/* --------------------------------------------------------------------- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}
/* ----- Define Custom Css Variables ----- */
:root {
	--main-colo: #b43105;
	--blue: #4641de;
	--bg-container: #d9d8d9;
	--bleu-dark: #18293c;
	--text-one: #0040ff;
	--txt-two: #ff4000;
	--figure-1: #3a393b;
	--figure-2: #f88e16;
	--figure-3: #df0f0f;
	--white-alpha-40: rgba(255, 255, 255, 0.5);
	--white-alpha-25: rgba(255, 255, 255, 0.25);
	--backdrop-filter-blur: blur(5px);
}

::before,
::after {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	font-size: 16px;
	color: var(--bleu-dark);
	line-height: 1.5;
	overflow-x: hidden;
	font-family: 'Poppins', sans-serif;
	background-attachment: fixed;
	font-weight: 300;
	-webkit-top-highlight-color: transparent;
	padding: 5vh 15px;
	background-image: linear-gradient(
		to bottom right,
		#0040ff,
		#7955f3,
		#ef3e51,
		#ff4000
	);
}

body.hide-scrolling {
	overflow-y: hidden;
}

body::before {
	content: '';
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: var(--bg-container);
	z-index: -1;
	opacity: 0.12;
}

a {
	text-decoration: none;
}

h1,
h2 {
	font-weight: 600;
}

h3,
h4,
h5,
h6 {
	font-weight: 500;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

ul {
	list-style: none;
}

section {
	background-color: var(--white-alpha-25);
	border: 2px solid var(--white-alpha-40);
	min-height: 90vh;
	border-radius: 30px;
	backdrop-filter: var(--backdrop-filter-blur);
}

.main {
	max-width: 1200px;
	margin: auto;
	transition: all 0.5s ease-in-out;
}

.main.fade-out {
	opacity: 0;
}

.container {
	padding: 0 40px;
	width: 100%;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.align-item-center {
	align-items: center;
}

.hidden {
	display: none !important;
}

.sec-padding {
	padding: 80px 0;
}

/* ----- Section Title ----- */
.section-title {
	padding: 0 15px;
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
}

.section-title h2 {
	font-size: 40px;
	text-transform: capitalize;
}
/* ----- Custom Scroll ----- */
::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background-color: var(--text-one);
}

::-webkit-scrollbar-thumb {
	background-color: var(--bg-container);
}
/* ----- Buttons ----- */

button {
	font-family: inherit;
	user-select: none;
}

.btn {
	line-height: 1.5;
	background-color: var(--white-alpha-25);
	border: 1px solid var(--white-alpha-40);
	padding: 10px 20px;
	display: inline-block;
	border-radius: 30px;
	color: var(--main-colo);
	font-weight: 500;
	text-transform: capitalize;
	font-family: inherit;
	font-size: 16px;
	cursor: pointer;
	user-select: none;
	position: relative;
	overflow: hidden;
	vertical-align: middle;
	transition: color 0.3s ease;
}

.btn::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 0%;
	background-color: var(--main-colo);
	z-index: -1;
	transition: width 0.3s ease;
}

.btn:hover::before {
	width: 100%;
}

.btn:hover {
	color: var(--bg-container);
}

/* ----- Anime-Figure ----- */

/** -------------------------------------------------------------------- */
/* Home Section */
/* --------------------------------------------------------------------- */
.home-section {
	display: flex;
	padding: 120px 0;
}

.home-text,
.home-img {
	width: 50%;
	padding: 15px;
}

.home-text p {
	font-size: 19px;
}

.home-text h1 {
	font-size: 50px;
	text-transform: capitalize;
}

span:nth-child(2n + 1) {
	color: var(--txt-two);
	font-size: 60px;
	font-weight: bold;
}

span:nth-child(2n + 2) {
	color: var(--text-one);
	font-size: 60px;
	font-weight: bold;
}

.home-text h2 {
	font-size: 20px;
	text-transform: capitalize;
	font-weight: 300;
	margin: 0 0 30px;
}

.home-text .btn {
	margin: 0 15px 15px 0;
}

.home-img .img-box {
	max-width: 360px;
	background-color: var(--white-alpha-25);
	border-radius: 50%;
	border: 8px solid var(--white-alpha-25);
	margin: auto;
}

.home-img .img-box img {
	width: 100%;
	border-radius: 50%;
}

/** -------------------------------------------------------------------- */
/* About Section */
/* --------------------------------------------------------------------- */
.about-img {
	width: 40%;
	padding: 0 15px;
}

.about-text {
	width: 60%;
	padding: 0 15px;
}

.about-img .img-box {
	background-color: var(--white-alpha-25);
	max-width: 380px;
	border: 1px solid var(--white-alpha-40);
	margin: auto;
	border-radius: 10px;
}

.about-img .img-box img {
	width: 100%;
}

.about-text p {
	font-size: 17px;
	font-weight: 400;
}

.about-text h3 {
	text-transform: capitalize;
	font-size: 20px;
	margin: 20px 0;
}

.about-text .skills {
	display: flex;
	flex-wrap: wrap;
}

.about-text .skills-item {
	background-color: var(--white-alpha-25);
	border: 1px solid var(--white-alpha-40);
	padding: 5px 15px;
	font-weight: 400;
	text-transform: capitalize;
	margin: 0 10px 10px 0;
	border-radius: 20px;
}

.about-beginning {
	margin-top: 20px;
}

.about-beginning .tab-item {
	padding: 2px 0;
	background-color: transparent;
	border: none;
	text-transform: capitalize;
	display: inline-block;
	color: var(--bleu-dark);
	font-size: 20px;
	cursor: pointer;
	font-weight: 500;
	margin: 0 30px 0 0;
	position: relative;
	opacity: 0.5;
	transition: all 0.3s ease;
}

.about-beginning .tab-item:last-child {
	margin: 0;
}

.about-beginning .tab-item::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0%;
	height: 1px;
	background-color: var(--bleu-dark);
	transition: width 0.3s ease;
}

.about-beginning .tab-item:hover:before {
	width: 100%;
}

.about-beginning .tab-item.active {
	color: var(--main-colo);
	opacity: 1;
	cursor: auto;
}

.about-beginning .tab-item.active::before {
	width: 100%;
	background-color: var(--main-colo);
}

.about-text .timeline {
	position: relative;
}

.about-text .timeline::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 1px;
	top: 0;
	left: 5px;
	background-color: var(--main-colo);
}

.about-text .tab-content {
	margin: 20px;
	padding: 40px 0;
	display: none;
}

.about-text .tab-content.active {
	display: block;
}

.about-text .timeline-item {
	margin-bottom: 30px;
	position: relative;
	padding: 10px 0 0 40px;
}

.about-text .timeline-item::before {
	content: '';
	position: absolute;
	height: 11px;
	width: 11px;
	background-color: var(--text-one);
	left: 0;
	top: 16px;
	border-radius: 50%;
}

.about-text .timeline-item:last-child {
	margin-bottom: 0;
}

.about-text .timeline-item .date {
	display: block;
	color: var(--main-colo);
	font-size: 22px;
	font-weight: 400;
	margin: 0 0 10px;
}
.about-text .timeline-item p {
	font-size: 17px;
	font-weight: 400;
}

.about-text .btn {
	margin: 0 15px 15px 0;
}

/* ----- Slider 3D ----- */
.about-slider {
	width: 800px;
	height: 500px;
	padding: 0 15px;
	position: relative;
	display: flex;
	margin: auto;
	margin-top: 30px;
	overflow: hidden;
	perspective: 800px;
	box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.5);
}

.slider-img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(-100%) rotateY(360deg);
	opacity: 0;
	transition: all 1s ease;
	transition: all 0.6s;
}

#img-1 {
	transform: translateX(0);
	opacity: 1;
}

.slider-img:target {
	transform: translateX(0) rotateY(0deg);
	opacity: 1;
}

.slider-img img {
	width: 100%;
	height: 100%;
}

.fa-angle-left {
	position: absolute;
	bottom: 250px;
	left: 0;
	font-size: 40px;
	text-decoration: none;
	color: var(--text-one);
	z-index: 999;
}

.fa-angle-right {
	position: absolute;
	bottom: 250px;
	right: 0;
	font-size: 40px;
	text-decoration: none;
	color: var(--text-one);
	z-index: 999;
}

.content-details {
	position: relative;
	top: -190px;
	width: 500px;
	margin: auto;
	padding: 15px;
	border-radius: 30px;
	text-align: center;
}

.content-details h3 {
	color: var(--main-colo);
	font-size: 20px;
	text-transform: capitalize;
	margin-bottom: 30px;
}

.content-details h2 {
	color: var(--bg-container);
}

.content-details p {
	color: var(--bg-container);
}
/* ----- Hover effect for the slider ----- */
.content-hover-1 {
	width: 1000px;
	height: 1000px;
	position: absolute;
	top: 0;
	transform: rotate(-30deg);
	margin-left: -750px;
	background-color: var(--white-alpha-25);
	transition: all 0.3s ease;
	box-shadow: 0px 1px 20px -5px var(--text-one);
}

.content-hover-2 {
	width: 1000px;
	height: 1000px;
	position: absolute;
	top: 0;
	transform: rotate(-30deg);
	margin-left: -800px;
	background-color: var(--white-alpha-25);
	transition: all 0.4s ease;
	box-shadow: 0px 1px 20px -5px var(--txt-two);
}

.content-hover-3 {
	width: 1000px;
	height: 1000px;
	position: absolute;
	top: 0;
	transform: rotate(30deg);
	margin-left: -800px;
	margin-top: -500px;
	background-color: var(--white-alpha-25);
	transition: all 0.5s ease;
	box-shadow: 0px 1px 20px -5px var(--text-one);
}

.content-hover-4 {
	width: 1000px;
	height: 1000px;
	position: absolute;
	top: 0;
	transform: rotate(30deg);
	margin-left: -850px;
	margin-top: -500px;
	background-color: var(--white-alpha-25);
	transition: all 0.6s ease;
	box-shadow: 0px 1px 20px -5px var(--txt-two);
}

.slider-img:hover .content-hover-1 {
	width: 170%;
	transition: all 0.3s ease;
}

.slider-img:hover .content-hover-2 {
	width: 170%;
	transition: all 0.4s ease;
}

.slider-img:hover .content-hover-3 {
	width: 180%;
	transition: all 0.5s ease;
}

.slider-img:hover .content-hover-4 {
	width: 180%;
	transition: all 0.6s ease;
}

.slider-img:hover img {
	transform: scale(1.5);
	transition: all 0.6s;
}

.content-text {
	position: absolute;
	top: 0;
	width: 400px;
	padding: 15px;
	z-index: 1;
	font-weight: 400;
	text-align: center;
	margin-top: 160px;
	margin-left: 30px;
}

.content-text h2 {
	font-size: 30px;
	color: var(--main-colo);
	opacity: 0;
	transform: scale(0.2);
	transition: all 0.4s ease;
}

.slider-img:hover h2 {
	opacity: 1;
	transition: all 0.4s ease;
	transform: scale(1);
}

.content-text p {
	font-size: 17px;
	margin-top: 10px;
	font-weight: 500;
	opacity: 0;
	transform: scale(1.5);
	transition: all 0.4s ease;
}

.slider-img:hover P {
	opacity: 1;
	transform: scale(1);
	transition: all 0.4s ease;
}

/** -------------------------------------------------------------------- */
/* Services Section */
/* --------------------------------------------------------------------- */
.service-section {
	padding-bottom: 50px;
}

.service-item {
	width: calc((100% / 3) - 30px);
	margin: 0 15px 30px;
}

.services-item-thumbnail {
	padding: 10px;
	background-color: var(--white-alpha-25);
	border: 1px solid var(--white-alpha-40);
	border-radius: 10px;
}

.services-item-thumbnail img {
	width: 100%;
	border-radius: 10px;
}

.service-item h3 {
	font-size: 20px;
	text-transform: capitalize;
	margin: 20px 0;
}

.services-item-details {
	display: none;
}

/* ----- Services Popup ----- */
.services-popup {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 200;
	visibility: hidden;
}

.services-popup.open {
	visibility: visible;
	overflow-y: auto;
}

.pp-inner {
	min-height: 100vh;
	padding: 40px 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pp-content {
	background-color: var(--white-alpha-25);
	padding: 30px;
	border-radius: 30px;
	max-width: 900px;
	width: 100%;
	border: 1px solid var(--white-alpha-40);
	backdrop-filter: var(--backdrop-filter-blur);
	opacity: 0;
	transform: scale(0.9);
}

.services-popup.open .pp-content {
	opacity: 1;
	transform: scale(1);
	transition: all 0.5s ease;
}

.pp-header {
	position: relative;
}

.pp-header .btn {
	width: 40px;
	height: 40px;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: -40px;
	top: -40px;
}

.pp-thumbnail img {
	border-radius: 10px;
}

.pp-header h3 {
	font-size: 25px;
	text-transform: capitalize;
	margin: 20px 0 15px;
}

.pp-body .description {
	margin-bottom: 20px;
}

.description p {
	font-size: 17px;
	font-weight: 400;
}

.pp-body .general-info li {
	margin-bottom: 10px;
	font-weight: 500;
	text-transform: capitalize;
}

/** -------------------------------------------------------------------- */
/* Team Section */
/* --------------------------------------------------------------------- */
.card-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 940px;
	gap: 15px;
	margin: auto;
	justify-items: center;
	align-items: center;
}

.card {
	width: 300px;
	height: 250px;
	overflow: hidden;
	margin: 8px;
	padding: 10px 30px;
	background-color: var(--white-alpha-25);
	border: 1px solid var(--white-alpha-40);
	border-radius: 2%;
	text-align: center;
	box-shadow: 0px 1px 5px 0px var(--txt-two);
	transition: all 0.4s ease-in-out;
}

.card:hover {
	height: 550px;
	width: 300px;
	border-radius: 10px;
	box-shadow: 0px 2px 10px var(--text-one);
}

.card-header img {
	position: relative;
	border-radius: 50%;
	display: block;
	width: 200px;
	height: 200px;
	border-top: 8px solid var(--white-alpha-40);
	border-bottom: 8px solid var(--white-alpha-40);
	object-fit: cover;
	margin: 20px auto;
	transition: all 0.3s ease;
}

.card-header {
	position: relative;
}

.card-header::before,
.card-header::after {
	content: '';
	position: absolute;
	opacity: 0.7;
}

.card-header::after {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	top: 0;
	right: 25px;
	background-color: var(--figure-2);
	z-index: 20;
}

.card-header::before {
	width: 70px;
	height: 70px;
	border-radius: 20px;
	bottom: 0;
	left: -10px;
	transform: rotate(120deg);
	background-color: var(--blue);
}

.card-icons {
	display: flex;
	justify-content: center;
	position: relative;
	margin-bottom: 15px;
	list-style: none;
}

.card-icons li {
	width: 40px;
	height: 40px;
	margin: 0 5px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	background-color: var(--white-alpha-25);
	border: 2px solid var(--white-alpha-40);
	transform: scale(0);
	transition: all 0.5s ease;
}

.card-icons li a {
	height: 100%;
	width: 100%;
	border-radius: 50%;
	display: block;
	line-height: 40px;
	transition: all 0.3s ease;
	color: var(--main-colo);
}

.card-icons li a:hover {
	transform: scale(1.1);
	color: var(--bg-container);
	background-color: var(--main-colo);
}

.card-icons li:nth-child(1) {
	transition-delay: 0.2s;
}

.card-icons li:nth-child(2) {
	transition-delay: 0.3s;
}

.card-icons li:nth-child(3) {
	transition-delay: 0.4s;
}

.displace {
	opacity: 0;
	transition: all 0.5s ease;
	transform: translateY(-45px);
}

.displace:nth-child(1) {
	transition-delay: 0.1s;
}

.displace:nth-child(2) {
	transition-delay: 0.2s;
}

.displace:nth-child(3) {
	transition-delay: 0.4s;
}

.social {
	transform: scale(0);
	opacity: 0;
	transition: all 0.4s ease;
}

.card:hover .social {
	opacity: 1;
	transform: scale(1);
}

.card:hover .displace {
	transform: translateY(0);
	opacity: 1;
}

.info-personal h2 {
	font-size: 25px;
	font-weight: 400;
	padding: 10px;
	line-height: 25px;
}

.info-personal h3 {
	font-size: 18px;
	font-weight: 200;
}

.info-personal p {
	margin: 15px 0;
	font-weight: 300;
}

.card-send-email {
	text-align: center;
	margin-top: 25px;
}

/* ------ Responsive Card ----- */
@media screen and (max-width: 710px) {
	.card-content {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 680px) {
	.card-content {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 852px) {
	.card-content {
		gap: 5px;
	}
}

/** -------------------------------------------------------------------- */
/* Testimonial Section */
/* --------------------------------------------------------------------- */
.testimonial-content {
	width: 800px;
	height: 400px;
	position: absolute;
	margin-top: 40px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.indicator {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -50px;
}

.btn-slide {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 4px;
	border-radius: 15px;
	background-color: var(--white-alpha-25);
	border: 2px solid var(--white-alpha-40);
	cursor: pointer;
	transition: 0.5s ease;
}

.active-sld {
	width: 45px;
}

.testimonial-slide {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slide-row {
	display: flex;
	width: 3200px;
	transition: 0.5s ease;
}

.slide-content {
	width: 800px;
	height: 400px;
	position: relative;
}

.user-text {
	width: 520px;
	height: 270px;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 10px;
	padding: 45px;
	box-sizing: border-box;
	background-color: var(--white-alpha-25);
	border: 1px solid var(--white-alpha-40);
	z-index: 2;
}

.user-text p {
	font-size: 17px;
	line-height: 24px;
	font-weight: 300;
}

.user-text h3 {
	margin: 35px 0 5px;
}

.user-img {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}

.user-img img {
	height: 100%;
	border-radius: 10px;
}

/** -------------------------------------------------------------------- */
/* Contact Section */
/* --------------------------------------------------------------------- */
.contact-form,
.contact-info {
	width: 50%;
	padding: 0 15px;
}

.contact-form .input-group {
	width: 100%;
	margin-bottom: 30px;
}

.contact-form .input-control::placeholder {
	color: var(--bleu-dark);
	opacity: 0.8;
	font-weight: 300;
}

.contact-form .input-control {
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	border: none;
	font-family: inherit;
	font-weight: 400;
	font-size: 16px;
	padding: 0 20px;
	color: var(--bleu-dark);
	background-color: var(--white-alpha-25);
	border: 1px solid transparent;
	transition: border-color 0.3s ease;
}

.contact-form .input-control:focus {
	border-color: var(--white-alpha-40);
}

.contact-form textarea.input-control {
	height: 120px;
	resize: none;
	padding-top: 15px;
}

.contact-info-item {
	margin: 0 0 30px;
	padding: 0 0 0 20px;
}

.contact-info-item h3 {
	font-size: 20px;
	text-transform: capitalize;
	margin: 0 0 5px;
}

.contact-info-item .social-links a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background-color: var(--white-alpha-25);
	border: 1px solid var(--white-alpha-40);
	color: var(--main-colo);
	border-radius: 50%;
	margin: 6px 4px 0 0;
	transition: all 0.3s ease;
}

.contact-info-item .social-links a:hover {
	color: var(--bg-container);
	background-color: var(--main-colo);
}
