/** -------------------------------------------------------------------- */
/* Responsive Design */
/* --------------------------------------------------------------------- */

/* ------ Responsive Card ----- */
@media screen and (max-width: 820px) {
	.team-card-content {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 710px) {
	.team-card-content {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 680px) {
	.team-card-content {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 852px) {
	.team-card-content {
		gap: 5px;
	}
}
